@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400&display=swap");
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

* {
  font-size: 10px;
}

body {
  background-color: #f1f1f1;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

main {
  margin: 5rem 0 0 0;
  padding: 3rem 2rem 0 4rem;
}

@media screen and (max-width: 375px) {
  main {
    padding-left: 0;
    padding-right: 0;
  }
}

main h1 {
  font-size: 5rem;
  color: #218c74;
  font-weight: 800;
  font-family: Raleway, sans-serif;
  margin: 0 0 2rem 0;
  padding: 0 0 0 0;
}

@media screen and (max-width: 840px) {
  main h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 550px) {
  main h1 {
    font-size: 5rem;
    margin-left: 26vw;
  }
}

@media screen and (max-width: 375px) {
  main h1 {
    margin-left: 25.66vw;
  }
}

@media screen and (max-width: 840px) {
  main .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 375px) {
  main .row {
    margin-left: 2rem;
  }
}

main .row aside#calendar {
  width: 15vw;
}

@media screen and (max-width: 840px) {
  main .row aside#calendar {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  main .row aside#calendar {
    width: 95%;
  }
}

main .row aside#calendar h4 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 4rem;
  font-family: Raleway;
  color: #218c74;
  font-weight: 600;
  margin-top: 0px;
}

@media screen and (max-width: 840px) {
  main .row aside#calendar h4 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 550px) {
  main .row aside#calendar h4 {
    margin: 0;
  }
}

main .row aside#calendar div#inCalendar {
  border-radius: 8px;
  background-color: white;
  max-height: 31.7vw;
  overflow: auto;
}

@media screen and (max-width: 840px) {
  main .row aside#calendar div#inCalendar {
    max-height: 45vw;
  }
}

@media screen and (max-width: 550px) {
  main .row aside#calendar div#inCalendar {
    max-height: 55vw;
  }
}

@media screen and (max-width: 375px) {
  main .row aside#calendar div#inCalendar {
    max-height: 65vw;
  }
}

main .row aside#calendar div#inCalendar h5 {
  margin-top: 10%;
  margin-bottom: 0.52vw;
  font-size: 2.5rem;
  font-family: Raleway;
  font-weight: 600;
  text-align: center;
  color: #3a3a3a;
  border-bottom: 2px solid #9b9b9b;
  margin-left: 8px;
  margin-right: 8px;
}

main .row aside#calendar div#inCalendar h5 a {
  margin-top: 10%;
  margin-bottom: 0.52vw;
  font-size: 2.5rem;
  font-family: Raleway;
  font-weight: 600;
  text-align: center;
  color: #3a3a3a;
  margin-left: 8px;
  margin-right: 8px;
}

@media screen and (max-width: 840px) {
  main .row aside#calendar div#inCalendar h5 {
    font-size: 2rem;
    margin-top: 2vw;
    padding-bottom: 2vw;
  }
}

main .row aside#calendar div#inCalendar ul {
  border-bottom: 1px solid #ccc;
  padding: 0px;
  margin-left: 8px;
  margin-right: 8px;
}

main .row aside#calendar div#inCalendar ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid #9b9b9b;
}

main .row aside#calendar div#inCalendar ul li p#time {
  font-size: 1rem;
  font-family: Raleway;
  font-weight: 400;
  text-align: right;
  width: auto;
}

main .row aside#calendar div#inCalendar ul li p {
  font-size: 1.8rem;
  font-family: Raleway;
  font-weight: 600;
  text-align: left;
  width: auto;
  color: #3a3a3a;
  padding-left: 1vw;
}

@media screen and (max-width: 840px) {
  main .row aside#calendar div#inCalendar ul li p {
    padding-left: 2vw;
    margin-top: 1vw;
  }
}

@media screen and (max-width: 550px) {
  main .row aside#calendar div#inCalendar ul li p {
    padding-left: 4vw;
  }
}

main .row aside#calendar div#inCalendar ul li span#oneDay {
  width: 2vw;
  height: 2vw;
  background-color: blue;
  border-radius: 50%;
  margin-top: .5vw;
  display: inline-block;
}

@media screen and (max-width: 840px) {
  main .row aside#calendar div#inCalendar ul li span#oneDay {
    width: 3.5vw;
    height: 3.5vw;
    margin-top: .8vw;
  }
}

@media screen and (max-width: 550px) {
  main .row aside#calendar div#inCalendar ul li span#oneDay {
    width: 5.5vw;
    height: 5.5vw;
  }
}

@media screen and (max-width: 375px) {
  main .row aside#calendar div#inCalendar ul li span#oneDay {
    width: 10vw;
    height: 10vw;
    margin-top: 0;
  }
}

main .row aside#calendar div#inCalendar ul li span#twelveHours {
  width: 2vw;
  height: 2vw;
  background-color: #218c74;
  border-radius: 50%;
  margin-top: .5vw;
}

@media screen and (max-width: 840px) {
  main .row aside#calendar div#inCalendar ul li span#twelveHours {
    width: 3.5vw;
    height: 3.5vw;
    margin-top: .8vw;
  }
}

@media screen and (max-width: 550px) {
  main .row aside#calendar div#inCalendar ul li span#twelveHours {
    width: 5.5vw;
    height: 5.5vw;
  }
}

@media screen and (max-width: 375px) {
  main .row aside#calendar div#inCalendar ul li span#twelveHours {
    width: 10vw;
    height: 10vw;
    margin-top: 0;
  }
}

main .row aside#calendar div#inCalendar ul li span#oneHour {
  width: 2vw;
  height: 2vw;
  background-color: red;
  border-radius: 50%;
  margin-top: .5vw;
}

@media screen and (max-width: 840px) {
  main .row aside#calendar div#inCalendar ul li span#oneHour {
    width: 3.5vw;
    height: 3.5vw;
    margin-top: .8vw;
  }
}

@media screen and (max-width: 550px) {
  main .row aside#calendar div#inCalendar ul li span#oneHour {
    width: 5.5vw;
    height: 5.5vw;
  }
}

@media screen and (max-width: 375px) {
  main .row aside#calendar div#inCalendar ul li span#oneHour {
    width: 10vw;
    height: 10vw;
    margin-top: 0;
  }
}

main .row aside#calendar div#inCalendar ul li span#started {
  width: 2vw;
  height: 2vw;
  background-color: magenta;
  border-radius: 50%;
  margin-top: .5vw;
}

@media screen and (max-width: 840px) {
  main .row aside#calendar div#inCalendar ul li span#started {
    width: 3.5vw;
    height: 3.5vw;
    margin-top: .8vw;
  }
}

@media screen and (max-width: 550px) {
  main .row aside#calendar div#inCalendar ul li span#started {
    width: 5.5vw;
    height: 5.5vw;
  }
}

@media screen and (max-width: 375px) {
  main .row aside#calendar div#inCalendar ul li span#started {
    width: 10vw;
    height: 10vw;
    margin-top: 0;
  }
}

main .row div#premieres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 840px) {
  main .row div#premieres {
    margin-top: 5vw;
  }
}

@media screen and (max-width: 550px) {
  main .row div#premieres {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .row div#premieres aside#premCard {
  margin-left: 2.92vw;
  overflow: auto;
  width: 20.57vw;
  max-height: 36.45vw;
}

@media screen and (max-width: 840px) {
  main .row div#premieres aside#premCard {
    width: 30vw;
    margin-left: 10vw;
    max-height: 40vw;
  }
}

@media screen and (max-width: 550px) {
  main .row div#premieres aside#premCard {
    width: 95%;
    margin-left: 0;
    max-height: 80vw;
  }
}

main .row div#premieres aside#premCard h1 a {
  margin-bottom: 15px;
  text-align: center;
  font-size: 4rem;
  font-family: Raleway;
  color: #218c74;
  font-weight: 600;
  margin-top: 0px;
}

@media screen and (max-width: 375px) {
  main .row div#premieres aside#premCard h1 a {
    font-size: 3rem;
  }
}

@media screen and (max-width: 375px) {
  main .row div#premieres aside#premCard h1 {
    margin-left: 18%;
  }
}

main .row div#premieres aside#premCard div {
  height: 13.54vw;
  width: 19.27vw;
}

@media screen and (max-width: 840px) {
  main .row div#premieres aside#premCard div {
    width: 25.7vw;
    height: 18vw;
    margin-bottom: 2vw;
  }
}

@media screen and (max-width: 550px) {
  main .row div#premieres aside#premCard div {
    width: 100%;
    height: auto;
    margin-bottom: 4vw;
  }
}

main .row div#premieres aside#premCard div img {
  height: 10.42vw;
  width: 100%;
  background-color: black;
  border-radius: 0.21vw;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 840px) {
  main .row div#premieres aside#premCard div img {
    height: 14.5vw;
    border-radius: 0.5vw;
  }
}

@media screen and (max-width: 550px) {
  main .row div#premieres aside#premCard div img {
    height: 50vw;
    border-radius: 1vw;
  }
}

main .row div#premieres aside#premCard div p {
  color: #3a3a3a;
  font-size: 2rem;
  font-weight: 600;
  font-family: Raleway;
}

@media screen and (max-width: 840px) {
  main .row div#premieres aside#premCard div p {
    font-size: 1.8rem;
    margin-top: 1vw;
  }
}

@media screen and (max-width: 550px) {
  main .row div#premieres aside#premCard div p {
    font-size: 2.5rem;
    margin-top: 2vw;
  }
}

main .row div#premieres section#premiere {
  width: 52.71vw;
  height: 39.38vw;
  margin-left: 2.5vw;
}

@media screen and (max-width: 840px) {
  main .row div#premieres section#premiere {
    margin-left: 0;
    margin-bottom: 5vw;
  }
}

@media screen and (max-width: 550px) {
  main .row div#premieres section#premiere {
    width: 100%;
    height: auto;
  }
}

main .row div#premieres section#premiere img {
  width: 52.71vw;
  height: 30.21vw;
  border-radius: 0.21vw;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: black;
}

@media screen and (max-width: 840px) {
  main .row div#premieres section#premiere img {
    width: 60vw;
    height: 35vw;
    border-radius: 0.5vw;
  }
}

@media screen and (max-width: 550px) {
  main .row div#premieres section#premiere img {
    width: 95%;
    height: 50vw;
    border-radius: 1vw;
  }
}

main .row div#premieres section#premiere ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main .row div#premieres section#premiere ul li {
  margin-bottom: 0.52vw;
}

main .row div#premieres section#premiere ul li p {
  color: #3a3a3a;
  font-family: Raleway;
  font-weight: 600;
  margin-top: 3.13vw;
  margin-left: 4.43vw;
  font-size: 3.5rem;
}

@media screen and (max-width: 840px) {
  main .row div#premieres section#premiere ul li p {
    font-size: 2rem;
  }
}

@media screen and (max-width: 550px) {
  main .row div#premieres section#premiere ul li p {
    font-size: 2.5rem;
    margin: 4vw 0 0 6.5vw;
  }
}

main .row div#premieres section#premiere ul li span {
  position: absolute;
  width: 2.86vw;
  height: 2.86vw;
  background-color: blue;
  border-radius: 50%;
}

@media screen and (max-width: 550px) {
  main .row div#premieres section#premiere ul li span {
    width: 5.5vw;
    height: 5.5vw;
  }
}

main .reco {
  height: auto;
  margin-left: 5.21vw;
  margin-right: 6.25vw;
}

@media screen and (max-width: 840px) {
  main .reco {
    margin: 0;
  }
}

@media screen and (max-width: 550px) {
  main .reco {
    width: 95%;
  }
}

@media screen and (max-width: 375px) {
  main .reco {
    width: 100%;
  }
}

main .reco h1 {
  color: #218c74;
  font-weight: 800;
  font-family: Raleway;
  font-size: 5rem;
}

@media screen and (max-width: 840px) {
  main .reco h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 550px) {
  main .reco h1 {
    margin-left: 8vw;
    margin-top: 5vw;
  }
}

@media screen and (max-width: 375px) {
  main .reco h1 {
    font-size: 3rem;
    margin-left: 15%;
  }
}

main .reco div#recoPost {
  margin-bottom: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 840px) {
  main .reco div#recoPost {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 4vw;
  }
}

@media screen and (max-width: 550px) {
  main .reco div#recoPost {
    margin-bottom: 7vw;
  }
}

@media screen and (max-width: 375px) {
  main .reco div#recoPost {
    margin-left: 0;
  }
}

main .reco div#recoPost a#thumbnailLink {
  width: 37.4vw;
  height: 21vw;
  background-color: black;
  border-radius: 0.21vw;
}

@media screen and (max-width: 840px) {
  main .reco div#recoPost a#thumbnailLink {
    width: 100%;
    height: 51.13vw;
  }
}

@media screen and (max-width: 550px) {
  main .reco div#recoPost a#thumbnailLink {
    height: 46vw;
  }
}

@media screen and (max-width: 375px) {
  main .reco div#recoPost a#thumbnailLink {
    height: 56vw;
  }
}

main .reco div#recoPost a#thumbnailLink img#thumbnail {
  border-radius: 0.21vw;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

main .reco div#recoPost p#duration {
  font-size: 1.4rem;
  font-family: Raleway;
  font-weight: 600;
  z-index: 1;
  position: absolute;
  margin-left: 34vw;
  margin-top: 19.7vw;
  background-color: black;
  color: #f1f1f1;
}

@media screen and (max-width: 840px) {
  main .reco div#recoPost p#duration {
    margin-left: 83.5vw;
    margin-top: 48vw;
  }
}

@media screen and (max-width: 550px) {
  main .reco div#recoPost p#duration {
    font-size: 1.2rem;
    margin-left: 72vw;
    margin-top: 42.5vw;
  }
}

@media screen and (max-width: 375px) {
  main .reco div#recoPost p#duration {
    margin-left: 85.5vw;
    margin-top: 51vw;
  }
}

main .reco div#recoPost div#recoDesc {
  margin-left: 1.56vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 840px) {
  main .reco div#recoPost div#recoDesc {
    margin-left: 0;
    margin-top: 2vw;
  }
}

@media screen and (max-width: 375px) {
  main .reco div#recoPost div#recoDesc {
    margin-left: 2vw;
  }
}

main .reco div#recoPost div#recoDesc a h2 {
  color: #3a3a3a;
  margin: 0px;
  width: auto;
  font-size: 4rem;
  font-weight: 600;
  font-family: Raleway;
}

@media screen and (max-width: 840px) {
  main .reco div#recoPost div#recoDesc a h2 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 375px) {
  main .reco div#recoPost div#recoDesc a h2 {
    font-size: 2.5rem;
  }
}

main .reco div#recoPost div#recoDesc p#desc {
  color: #3a3a3a;
  width: 40vw;
  font-size: 2rem;
  font-weight: 400;
  font-family: Raleway;
}

@media screen and (max-width: 840px) {
  main .reco div#recoPost div#recoDesc p#desc {
    font-size: 1.5rem;
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  main .reco div#recoPost div#recoDesc p#desc {
    font-size: 1.2rem;
  }
}

main .reco div#recoPost div#recoDesc div#chRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 2.6vw;
}

main .reco div#recoPost div#recoDesc div#chRow img#channelImg {
  width: 2.34vw;
  height: 2.34vw;
  border-radius: 50%;
}

@media screen and (max-width: 840px) {
  main .reco div#recoPost div#recoDesc div#chRow img#channelImg {
    width: 4vw;
    height: 4vw;
  }
}

@media screen and (max-width: 550px) {
  main .reco div#recoPost div#recoDesc div#chRow img#channelImg {
    width: 6vw;
    height: 6vw;
  }
}

@media screen and (max-width: 375px) {
  main .reco div#recoPost div#recoDesc div#chRow img#channelImg {
    width: 8vw;
    height: 8vw;
  }
}

main .reco div#recoPost div#recoDesc div#chRow p#channelN {
  color: #3a3a3a;
  margin: 1%;
  font-size: 2.5rem;
  font-family: Raleway;
  font-weight: 600;
}

@media screen and (max-width: 840px) {
  main .reco div#recoPost div#recoDesc div#chRow p#channelN {
    margin-top: 0;
  }
}

@media screen and (max-width: 375px) {
  main .reco div#recoPost div#recoDesc div#chRow p#channelN {
    font-size: 1.7rem;
    margin: 1.2%;
  }
}

@media screen and (max-width: 375px) {
  main .reco div#recoPost div#recoDesc div#chRow {
    margin-bottom: 2vw;
  }
}

main .reco div#recoPost div#recoDesc p#airDateTime {
  font-size: 2rem;
  font-weight: 400;
  font-family: Raleway;
  color: #3a3a3a;
}

main .reco div#recoPost div#recoDesc button {
  border: none;
  width: 14.58vw;
  height: 2.6vw;
  background-color: #218c74;
  border-radius: 1.3vw;
  font-family: Raleway;
  font-size: 2rem;
  color: white;
  text-align: center;
  padding: auto;
  margin-top: 1.04vw;
}

@media screen and (max-width: 840px) {
  main .reco div#recoPost div#recoDesc button {
    width: 25vw;
    height: 4vw;
    border-radius: 3vw;
    margin: 4.2vw 0 0 0;
  }
}

@media screen and (max-width: 550px) {
  main .reco div#recoPost div#recoDesc button {
    width: 35vw;
    height: 7vw;
    border-radius: 4.55vw;
    margin: 5.95vw 0 0 0;
  }
}

@media screen and (max-width: 375px) {
  main .reco div#recoPost div#recoDesc button {
    font-size: 1.5rem;
    width: 40vw;
  }
}
/*# sourceMappingURL=index.css.map */