@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400&display=swap");

$font: Raleway;

$colors: (
	textColor: #3a3a3a,
	primary: #218c74,
	coloredBgText: #fafafa,
	bgColor: #f1f1f1,
	bgPrimary: #ffffff,
	text: #3a3a3a,
	textLight: lighten(#3a3a3a, 10%),
	textLighter: lighten(#3a3a3a, 30%),
	textSecondary: #ffffff,
	yellow: #fe9a05,
	red: #f74040,
	blue: /* new */ #0059ff /*old #1f21aa */,
);

$mobileLWidth: 840px;
$mobileMWidth: 550px;
$mobileSWidth: 560px;
$mobileIphoneWidth: 375px;
$mobileAndroidWidth: 360px;

@function color($color-name) {
	@return map-get($colors, $color-name);
}

@mixin mobileL {
	@media screen and (max-width: #{$mobileLWidth}) {
		@content;
	}
}

@mixin mobileM {
	@media screen and (max-width: #{$mobileMWidth}) {
		@content;
	}
}

@mixin mobileS {
	@media (max-width: #{$mobileSWidth}) {
		@content;
	}
}

@mixin mobileIphone {
	@media screen and (max-width: #{$mobileIphoneWidth}) {
		@content;
	}
}

@mixin mobileAndroid {
	@media screen and (max-width: #{$mobileAndroidWidth}) {
		@content;
	}
}
